---
import AdditionalDetailsCard from "../../components/AdditionalDetailsCard.astro";
---

<section
  class="w-screen p-2 pb-24 bg-[#e2e4ec] text-[#283137]"
  style="background-image: url(/Wave2.svg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;"
>
  <div class="mt-2 flex md:flex-wrap justify-center gap-4">
    <AdditionalDetailsCard
      icon="mdi:check-circle"
      title="Unique Methodology"
      text="At AquaClear Pool Services, we revolutionize pool cleaning with our advanced methodology. We employ a tailored approach, utilizing cutting-edge technology alongside time-tested techniques. Our process isn't just about cleaning; it's a comprehensive rejuvenation. We meticulously analyze water quality, employ eco-friendly solutions, and utilize state-of-the-art equipment for an unparalleled clean. Experience the difference with our innovative approach to pool care."
    />
    <AdditionalDetailsCard
      icon="mdi:account-hard-hat"
      title="Problem-Solving Expertise"
      text="Pool problems? Consider them solved. From stubborn algae to pH imbalance, our seasoned experts have encountered and conquered various pool issues. Leverage our team's expertise in diagnosing and resolving common pool woes. We proactively address potential problems before they escalate, ensuring your pool stays pristine. Trust us to tackle the challenges, so you can dive into worry-free relaxation."
    />
    <AdditionalDetailsCard
      icon="mdi:calendar-check"
      title="Service Guarantees"
      text="Our commitment to your satisfaction is unwavering. We stand behind our service with a rock-solid guarantee. If you're not completely satisfied with the results, we'll revisit and rectify the issue promptly, no questions asked. Our goal isn't just a clean pool; it's your absolute delight and peace of mind. Experience top-tier service and the assurance of quality—your satisfaction is our priority."
    />
  </div>
</section>
