---
import FaqCard from "../../components/FaqCard.astro";
---

<section id="faqs" class="w-screen p-2 pb-4 text-[#e2e4ec]">
  <h1 class="text-4xl text-center font-bold">FAQs</h1>
  <div class="mt-2 flex flex-col items-center gap-2">
    <FaqCard
      question="What's included in your cleaning packages?"
      answer="Our cleaning packages are comprehensive and tailored to meet your pool's specific needs. They typically include skimming the surface, brushing the walls, vacuuming, emptying baskets, testing and balancing water chemistry, and inspecting equipment for optimal functionality. We offer various packages, each with its level of service, ensuring your pool receives the care it requires."
    />
    <FaqCard
      question="How often should my pool be cleaned?"
      answer="The frequency of pool cleaning depends on several factors, including usage, weather conditions, and the pool's size and location. As a general guideline, we recommend weekly or bi-weekly cleaning to maintain optimal cleanliness and water quality. However, our experts can assess your pool's unique requirements during an initial consultation and recommend a tailored cleaning schedule that suits your needs."
    />
    <FaqCard
      question="Are your cleaning products safe for children/pets?"
      answer="Absolutely. We prioritize the safety of your loved ones and the environment. Our cleaning products are carefully chosen and formulated to be safe for both children and pets while effectively maintaining a clean and healthy pool. We use eco-friendly and non-toxic solutions, ensuring a pristine pool without compromising on safety. Your family's well-being is our priority."
    />
  </div>
</section>
