---
import FeatureCard from "../../components/FeatureCard.astro";
---

<section class="w-full p-2 text-white">
  <h1 class="text-3xl text-center">Features</h1>
  <div class="mt-2 flex md:flex-wrap justify-center gap-4">
    <FeatureCard
      title="Spotless Maintenance"
      text="Regular cleaning to keep your pool crystal clear"
    />
    <FeatureCard
      title="Expert Technicians"
      text="Trained professionals ensuring thorough care."
    />
    <FeatureCard
      title="Tailored Services"
      text="Customized plans to suit your pool's unique needs."
    />
    <FeatureCard
      title="Eco-Friendly Solutions"
      text="Environmentally conscious cleaning practices"
    />
  </div>
</section>
