<section
  id="contact"
  class="w-screen p-2 py-8 bg-[#e2e4ec] text-[#283137]"
  style="background-image: url('/contact_bg.svg'); background-size: contain; background-position:center; background-repeat: no-repeat;"
>
  <div class="h-full flex gap-4 justify-center backdrop-blur-sm">
    <img
      src="/contact.webp"
      alt="contact"
      class="block md:hidden xl:block w-96 rounded opacity-90 shadow-md backdrop-blur-sm"
    />
    <div
      class="pb-4 flex flex-col gap-2 bg-[#283137]/50 rounded shadow-md overflow-hidden"
    >
      <h2 class="px-2 py-1 bg-[#283137] text-4xl text-[#e2e4ec] font-bold">
        Mark your avaluation now. Contact Us
      </h2>
      <form class="p-4 flex flex-col text-xl text-white gap-2">
        <input
          type="email"
          placeholder="Email"
          class="px-2 py-1 outline-0 bg-transparent placeholder-slate-700 border-b-2 border-[#e2e4ec] focus:border-[#00b2e1] rounded transform duration-500 ease-in-out"
        />
        <div class="flex gap-2">
          <input
            type="text"
            placeholder="First Name"
            class="grow px-2 py-1 outline-0 bg-transparent placeholder-slate-700 border-b-2 border-[#e2e4ec] focus:border-[#00b2e1] rounded transform duration-500 ease-in-out"
          />
          <input
            type="text"
            placeholder="Last Name"
            class="grow px-2 py-1 outline-0 bg-transparent placeholder-slate-700 border-b-2 border-[#e2e4ec] focus:border-[#00b2e1] rounded transform duration-500 ease-in-out"
          />
        </div>
        <textarea
          rows="3"
          placeholder="Message"
          class="px-2 py-1 outline-0 bg-transparent placeholder-slate-700 border-b-2 border-[#e2e4ec] focus:border-[#00b2e1] rounded transform duration-500 ease-in-out"
        ></textarea>
        <button
          class="px-2 py-1 text-xl text-[#283137] hover:text-[#e2e4ec] font-bold bg-[#00b2e1] hover:bg-[#283137] rounded transform duration-500 ease-in-out"
          >SEND</button
        >
      </form>
      <div class="p-2 text-center font-bold">
        <h4 class="mb-1 text-2xl text-[#e2e4ec]">E-mail</h4>
        <span class="text-xl font-semibold">aquaclear@mail.com</span>
        <h4 class="mb-1 text-2xl text-[#e2e4ec]">Phone</h4>
        <span class="text-xl font-semibold">12 345-6789</span>
      </div>
    </div>
  </div>
</section>
