<section class="w-screen p-2 pb-4 bg-slate-900 text-white">
  <h1 class="text-3xl text-center font-bold">Contact</h1>
  <div class="mt-2 flex gap-4 justify-center">
    <div class="p-2 bg-white rounded">
      <h2 class="text-2xl text-black font-semibold">Contact Us</h2>
      <h3 class="my-1 text-base text-slate-500">Send us a message</h3>
      <form class="flex flex-col gap-2 text-black">
        <input
          type="email"
          placeholder="Email"
          class="px-2 py-1 outline-0 border-2 border-slate-700 rounded"
        />
        <div class="flex gap-2">
          <input
            type="text"
            placeholder="First Name"
            class="px-2 py-1 outline-0 border-2 border-slate-700 rounded"
          />
          <input
            type="text"
            placeholder="Last Name"
            class="px-2 py-1 outline-0 border-2 border-slate-700 rounded"
          />
        </div>
        <textarea
          rows="10"
          class="px-2 py-1 outline-0 border-2 border-slate-700 rounded"
        ></textarea>
        <button
          class="px-2 py-1 text-xl font-bold bg-green-600 hover:bg-green-400 rounded transform duration-500 ease-in-out"
          >Submit</button
        >
      </form>
    </div>
    <div class="w-96 p-2">
      <h3 class="mb-2 text-2xl font-semibold">Contact details</h3>
      <h4 class="mb-1 text-xl text-green-400">E-mail</h4>
      <span>poolcleaner@mail.com</span>
      <h4 class="mb-1 text-xl text-green-400">Phone</h4>
      <span>00 000-0000</span>
    </div>
  </div>
</section>
