---
import Nav from "../../components/Nav.astro";
---

<section
  style="background-image: url('/hero_image.webp');"
  class="w-screen h-[95vh] text-5xl font-bold text-[#e2e4ec] bg-fixed border-b"
>
  <!-- Navbar -->
  <Nav />
  <div class="w-full h-full flex justify-center">
    <div
      class="self-center w-full h-fit py-24 flex flex-col gap-2 justify-center items-center bg-[#283137]/20 backdrop-blur-sm"
    >
      <h1>Dive into Crystal Clear Waters</h1>
      <h2 class="text-xl font-semibold">
        Professional Pool Cleaning Services for a Sparkling, Hassle-Free Oasis
      </h2>
      <button
        class="mt-4 px-2 py-1 bg-[#00b2e1] hover:bg-[#00b2e1]/70 text-xl font-base rounded transform duration-500 ease-in-out"
        >Revitalize Your Pool Today</button
      >
    </div>
  </div>
</section>
