---
import AdditionalDetails from "../layouts/additionalDetails/AdditionalDetails.astro";
import Contacts from "../layouts/contacts/Contacts.astro";
import Faqs from "../layouts/faqs/Faqs.astro";
import Benefits from "../layouts/benefits/Benefits.astro";
import Footer from "../layouts/footer/Footer.astro";
import Gallery from "../layouts/gallery/Gallery.astro";
import Hero from "../layouts/hero/Hero.astro";
import Testimonials from "../layouts/testimonials/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to AquaClear Pool Services.">
  <main class="bg-[#283137] overflow-hidden">
    <!-- Hero, Headlines -->
    <Hero />
    <!-- Benefits -->
    <Benefits />
    <!-- Social Proof - Testimonials -->
    <Testimonials />
    <!-- Gallery -->
    <Gallery />
    <!-- Additional Details -->
    <AdditionalDetails />
    <!-- FAQs -->
    <Faqs />
    <!-- Contact -->
    <Contacts />
    <!-- Footer -->
    <Footer />
  </main>
</Layout>
