---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <!-- Hero, Headlines -->
    <section
      style="background-image: url('/hero_image.webp');"
      class="w-screen h-screen text-3xl font-bold text-white"
    >
      <div
        class="w-full h-full flex flex-col justify-center items-center bg-gray-900/70"
      >
        <h1>Dive into Crystal Clear Waters</h1>
        <h2 class="text-xl font-semibold">
          Professional Pool Cleaning Services for a Sparkling, Hassle-Free Oasis
        </h2>
      </div>
    </section>
    <!--  -->
  </main>
</Layout>

<style></style>
