---
interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<div class="w-80 flex flex-col items-center gap-1 text-center border rounded">
  <h2 class="w-full bg-yellow-200 text-black text-xl border-b">{title}</h2>
  <p class="p-2 text-sm">
    {text}
  </p>
</div>
