---
import { Icon } from "astro-iconify";
---

<div class="flex gap-2 justify-center">
  <Icon
    name="akar-icons:x-fill"
    class="w-16 p-2 bg-green-400 text-black rounded"
  />
  <Icon
    name="ri:facebook-fill"
    class="w-16 p-2 bg-green-400 text-black rounded"
  />
  <Icon
    name="streamline:instagram"
    class="w-16 p-2 bg-green-400 text-black rounded"
  />
</div>
