---

---

<div
    id="hero"
    class="w-full h-[5vh] px-2 flex items-center gap-2 bg-[#283137]/30 backdrop-blur-sm"
>
    <a href="#hero"
        ><img src="/logo.webp" alt="logo" class="w-10 rounded-full" /></a
    >
    <div class="grow px-8 flex justify-end gap-4 text-xl font-semibold">
        <a
            href="#gallery"
            class="hover:text-[#00b2e1] transform duration-500 ease-in-out"
            >Gallery</a
        >
        <a
            href="#faqs"
            class="hover:text-[#00b2e1] transform duration-500 ease-in-out"
            >FAQs</a
        >
        <a
            href="#contact"
            class="hover:text-[#00b2e1] transform duration-500 ease-in-out"
            >Contact</a
        >
    </div>
</div>
