---

---

<section class="w-screen p-2 bg-gray-700 text-white">
  <h1 class="text-3xl text-center">Gallery</h1>
  <div class="mt-2 flex flex-wrap gap-2 justify-center">
    <img src="/gallery/1.webp" alt="pool" />
    <img src="/gallery/2.webp" alt="pool" />
    <img src="/gallery/3.webp" alt="pool" />
    <img src="/gallery/4.webp" alt="pool" />
    <img src="/gallery/5.webp" alt="pool" />
    <img src="/gallery/6.webp" alt="pool" />
    <img src="/gallery/7.webp" alt="pool" />
    <img src="/gallery/8.webp" alt="pool" />
    <img src="/gallery/9.webp" alt="pool" />
    <img src="/gallery/10.webp" alt="pool" />
  </div>
</section>
