---
import FooterSocials from "../../components/FooterSocials.astro";
---

<section class="w-screen h-72 p-2 pb-4 text-white">
  <div
    class="h-full self-center flex flex-col items-center justify-center gap-2"
  >
    <FooterSocials />
    <button
      class="mt-4 p-2 bg-red-500 hover:bg-red-800 text-xl font-bold rounded transform duration-500 ease-in-out"
      >Revitalize Your Pool Today</button
    >
  </div>
</section>
